body{
    background-color: #F2FFFC;
    font-family: "Crimson Text", serif;
    font-size: 120%;
    line-height: 1.5;

}

h1, h2{
    font-family: "Open Sans Condensed", sans-serif;
}

h1{
    text-transform: uppercase;
}

.titulo-principal{
    font-size: 60px;
    text-align: center;
    background-color: #851944;
    color: #fff;
    padding: 25px;
    border-bottom: 10px solid #000;
}
.subtitulo-texto{
    font-size: 30px;
    clear: both;
}
main a{
    color: #851944;
}
main p{
    text-align: justify;
    margin: 20px 0;
}
.container{
    margin: -20px auto 0px auto;
    width: 800px;
    padding: 80px 0 ;
    padding-bottom: 50px;

}
main h1{
    font-size: 60px;
    background-color: #851944;
    color: #F2FFFC;
    text-align: center;
    font-family: "Open Sans Condensed", sans-serif;
    padding: 40px;
    margin: 0;
    text-transform: uppercase;
    border-bottom: 10px solid black;

}


main a{
    color: #851944;
}
h2{
    font-size: 40px;
    font-family: "Open Sans Condensed", sans-serif;
    clear: both;
}

p{
    text-align: justify;
    margin: 30px 0;

}

strong{
    font-weight: 600;
}

em{
    font-style: italic;
}

aside{
    background-color: #3c1d3d;
    color: #F2FFFC;
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
    border-bottom: 10px solid black;
}
nav h1{
    font-size: 20px;
    margin-bottom: 25px;
}

nav h2{
    font-size: 30px;
}

nav .skills{
    font-size: 20px;
    margin-bottom: 25px;
}

nav a{
    color: inherit;

}

.rede-sociais li{
    display: inline-block;
}
footer {
    background-color: #000;
    color: #F2FFFC;
    padding: 20px;
    text-align: center;
}

.rede-sociais a{
    width: 40px;
    height: 40px;
    display: inline-block;
    text-indent: -99999px;
}


.linkedin {
    background-image: url("icons/linkedin.png");
}

.github {
    background-image: url("icons/github.png");
}


aside,
.minha-foto{
    float: right;
    box-sizing: border-box;
    border-left: 10px solid black;
    border-bottom: 10px solid black;
}

aside{
    clear: right;
    width: 15%;
    position: relative;
    top: 260px;
    box-sizing: border-box;
}

main{
    float: left;
    width: 85%;
    padding-bottom: 80px;
}

footer{
    clear: both;
    position: fixed ;
    bottom: 0;
    width: 100%;
}

.minha-foto{
    position: absolute;
    top: 0;
    right: 0;
}
